@font-face {
    font-family: circe ;
    src: url("/fonts/Circe/circe-bold.ttf");
    font-family: Gilam ;
    src: url("/fonts/gilam-bold/gilam-bold.ttf");

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.coneiner{
width: 1920px;
height: 4000px;
background: #171717;
}

a {
    text-decoration: none;
    color: white;
}

.logo{
    width: 15rem;
}

.header{
    display: flex;
    justify-content: space-between;
    padding-top: 2.5rem;
    padding: 0 14.5rem;
}

.contacts-wrapper{
display: flex;
justify-content: space-between;
align-items: center;
}

.contacts{
    padding-right: 2rem;
    font-size: 20px;
    line-height: 29px;
}

.number-derection{
    color: #E4B564;
}

.button-wrapper{
    border: 1px solid #E4B564;
    padding: 10px 25px;
    line-height: 30px;
    font-size: 18px;
    font-family: circe ;
}
.button-text{
    color: #E4B564;
}


.first-name{
color: #FFFFFF ;
width: 599px;
margin-top: 129px;
font-family: 'Gilam';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 28px;
}


.paragraf{
margin-top: 41px;
width: 1182px;
height: 56px;
left: 230px;
top: 276px;

font-family: 'Gilam';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;


color: #FFFFFF;
}



.main{
    padding: 0 14.5rem;
    font-family: 'Gilam';
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    display: grid;
    gap: 27px 34px;
    justify-content: center;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 173px 468px 468px;
    grid-template-areas:
    "text text text text text text"
     "first first second second third third"
     "fourth fourth fourth five five five" ;
}


.text__main{
    grid-area: text;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.strong-text{
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
}

.paragraf-second{
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.first-box{
    background:  #634F2C;
    grid-area: first;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-box{
    background: #B4A385;
    grid-area: second;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.third-box{
    background:  #E4B564;
    grid-area: third;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-box{
    background: #635A4A;
    grid-area: fourth;
    display: flex;
    justify-content: center;
    align-items: center;
}

.five-box{
    background: #B08C4D;
    grid-area: five;
    display: flex;
    justify-content: center;
    align-items: center;
}

.personal-box{
    padding: 0 14.5rem;
    display: flex ;
    margin-top: 94px;
}

.second-main{
    align-self: start;
    font-family: 'Gilam';
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    display: grid;
    gap: 25px 30px;
    justify-content: center;
    grid-template-columns: repeat(3, 467px);
    grid-template-rows: repeat(6, 173px) ;
 
}



.section{
    padding: 0 14.5rem;
    margin-top: 161px ;
    grid-area: text;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.big-text{
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    
}


.first-nine{
    background:#0E0E0E ;
    grid-column: 1;
    grid-row: 1/3;
    display: flex;
    justify-content: start;
    padding: 44px 52px;
    
}

.second-nine{
    background:  #242424;
    grid-column: 2;
    grid-row: 1/4 ;
    display: flex;
    justify-content: start;
    padding: 44px 52px;
}

.third-nine{
    background:  #1F1F1F;
    grid-column: 3;
    grid-row: 1/3;
    display: flex;
    justify-content: start;
    padding: 44px 52px;
}

.fourth-nine{
    background: #0E0E0E;
    grid-column: 3;
    grid-row: 3/5;
    display: flex;
    justify-content: start;
    padding: 44px 52px;
}

.five-nine{
    background: #1F1F1F;
    grid-column: 1;
    grid-row: 3/7;
    display: flex;
    justify-content: start;
    padding: 44px 52px;
}

.six-nine{
    background: #E4B564;
    grid-column: 2;
    grid-row: 4/7;
    display: flex;
    justify-content: start;
    color: #0A0909;
    padding: 44px 52px;
}

.seven-nine{
    background: #0A0909;
    grid-column: 3;
    grid-row: 5/7;
    display: flex;
    justify-content: start;
    padding: 44px 52px;
}

.logo-box{
    padding: 0 14.5rem;
    background: #0E0E0E;
    width: 1920px;
    
}

.company{
    background: #0E0E0E;
    padding: 10rem 14.5rem 0 14.5rem;
    margin-top: 161px ;
    grid-area: text;
    display: flex;
    justify-content: space-between;
}

.text-company{
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    padding-bottom: 68px;
}



.button-company{
    color: #E4B564;
    display: inline-block;
    border: 1px solid #E4B564;
    padding: 10px 25px;
    line-height: 30px;
    font-size: 18px;
    font-family: circe ;
}


.personal-box{
    display: flex ;
    margin-top: 94px;
}

.third-main{
    align-self: start;
    font-family: 'Gilam';
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 487px);
    grid-template-rows: repeat(2, 391px) ;
}

.first-six{
    background: #634F2C ;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
    


.second-six{
    background: rgba(232, 210, 171, 0.76); ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 61px 80px;
}

.text-paragraf{
    margin-top: 16px;
}


.third-six{
    background:  #E4B564;
    display: flex;
    justify-content: center;
    align-items: center;
}


.fourth-six{
    background: #635A4A;
    display: flex;
    justify-content: center;
    align-items: center;
}


.five-six{
    background: #B08C4D;
    display: flex;
    justify-content: center;
    align-items: center;
}




.six-six{
    background: #634F2C;
    display: flex;
    justify-content: center;
    align-items: center;
}
